@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
*{
  box-sizing: border-box;
}

input[type="text"],
input[type="month"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="search"],
select{
  @apply border border-gray-500 rounded-md px-3 py-1 outline-0;
}

label{
  @apply font-semibold text-gray-500 text-sm;
}

.side-margin {
  @apply mx-auto w-[90%] md:w-[75%] 
}


.form-group {
  @apply grid gap-2;
}

.form-group input,
.form-group select {
  @apply w-full
}

.navbar{
  background: linear-gradient(175deg, #015804 42.96%, #007905 100.65%);
}

.content {
  @apply px-6 pt-20;
}

.home-bg{
  background-image: url("./assets/bg-image-gradient.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.page-header{
  background-image: url("./assets/haft-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.brown-stripe > div:nth-child(odd) {
  background: #775c43;
}

.gray-stripe > div:nth-child(odd) {
  background: #f1f1f1;
}

.p-dialog-footer > button {
  @apply px-4 py-1
}

.report_table{
  @apply text-xs border-black border w-10/12
}

.report_table thead th{
  @apply border-black border bg-[#008650] text-white self-start pb-3
}

.report_table tbody td{
  @apply border-black border text-center self-start pb-3
}